/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
    font-family: "3270-Regular";
    src: url("/fonts/3270-Regular.woff") format("woff"),
        url("/fonts/3270-Regular.ttf") format("truetype"),
        url("/fonts/3270-Regular.svg") format("svg");
}

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles */
html,
body {
    height: 100%;
    width: 100%;
}

.font__lethal,
.font__lethal * {
    font-family: "3270-Regular" !important;
}
.font__regular,
.font__regular * {
    font-family: "Montserrat", sans-serif !important;
}
*,
:after,
:before {
    border: 0 solid #e0e0e0;
}
::-webkit-scrollbar {
    width: 10px;
} /* Track */
::-webkit-scrollbar-track {
    background: #310001;
} /* Handle */
::-webkit-scrollbar-thumb {
    background: #560100;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #560100;
}
